html {
  scroll-behavior: smooth;
}
body {
  max-width: 320px;
  margin: auto;
  background: #130D1B;
  background-image: url(../img/bg_circles.svg);
  color: #FFF3DE;
  font-size: 16px;
  font-family: "indivisible", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  text-align: center;
}

a {
  color: #FFF3DE;
}

h1 {
  font-family: "uniwars", sans-serif;
  font-style: italic;
  font-size: 30.96;
  text-align: center;
}

h2 {
  font-family: "uniwars", sans-serif;
  font-size: 23.02px;
  text-align: center;
}

strong {
  font-family: "indivisible", sans-serif;
  font-weight: 700;
  font-style: italic;
}
footer {
  background: #130D1B;
  font-size: 7.21px;
}