html {
  scroll-behavior: smooth;
}

main img,
header img {
  display: block;
  max-width: 100%;
  box-shadow: black 1px 0 10px;
}

body {
  max-width: 320px;
  margin: auto;
  background: #130D1B;
  background-image: url(../img/bg_circles.svg);
  color: #FFF3DE;
  font-size: 16px;
  font-family: "indivisible", sans-serif;
  margin: 40 0 40 0;
}

header nav {
  background-color: #130D1B;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

a {
  color: #FFF3DE;
  text-decoration: none;
}

a:focus {
  color: #7497AD;
}

a:active {
  color: #E43829;
}

hr {
  border: #FFF3DE solid 2px;
  padding-left: 60px;
  padding-right: 60px;
}

h1 {
  font-family: "uniwars", sans-serif;
  font-style: italic;
  font-size: 30.96;
  text-align: center;
}

h2 {
  font-family: "uniwars", sans-serif;
  font-size: 23.02px;
  text-align: center;
}

h1,
h2,
p {
  text-shadow: black 1px 0 10px;
}

strong {
  font-family: "indivisible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

main p {
  padding-bottom: 38px;
}

footer {
  background: #130D1B;
  font-size: 7.21px;
  box-sizing: border-box;
}

.legende {
  font-size: 8px;
  color: #7497AD;
  margin-top: 4px;
  padding-left: 10px;
}

.box {
  display: flex;
  flex-direction: row;
}

.affiches {
  display: flex;
  flex-direction: row;
}

.affiches img {
  margin: 10px;
}

.al {
  display: flex;
  flex-direction: column;
}
